<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Edit a todo</title>
</head>
<body>
    <h1>Edit mood: <%= post.title %></h1>
    <form action="/post/<%= post.id %>?_method=PUT" method="POST">
        <input type="text" name="mood" value="<%= post.title %>">
        <button type="submit">edit mood</button>
    </form>
</body>
</html>